# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log*

# Python virtual environment
venv/
.env
*.pyc
__pycache__/

# Logs
logs/
*.log
*.log.*
log/

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Mac/Linux files
*.bak
*.swp
*.swo
